.nav-link {
  color: black;
}
i.input-group-text {
  position: absolute;
  z-index: 1;
  background: none;
  border: none;
}

.carousel-item > .carousel-caption {
  position: absolute;
  left: 10px;
  bottom: 0px;
}

.card-body img {
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
}

li.list-group-item img {
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
}
