.nav-link {
  color: black;
}
i.input-group-text {
  position: absolute;
  z-index: 1;
  background: none;
  border: none;
}

.carousel-item > .carousel-caption {
  position: absolute;
  left: 10px;
  bottom: 0px;
}

.card-body img {
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
}

li.list-group-item img {
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
}

/* challenges */
body {
  background-color: black;
  color: white;
}

i.fa-twitter {
  font-size: 30px;
  color: white;
}
.nav-link {
  color: lightgray !important;
}
.nav-item {
  border: none !important;
}
.active {
  background-color: black !important;
  color: white !important;
  font-weight: bolder;
}

input {
  background-color: grey !important;
  color: white !important;
}
::placeholder {
  color: lightgray !important;
}
div.input-group > button > i {
  color: lightgrey !important;
}
#tabs {
  border: none;
}
#tabs .active {
  border: none;
  border-bottom: solid 6px #0d6efd;
}
.card {
  background-color: black;
}
.card h5 {
  color: white;
}
.card p {
  color: white;
}

.list-group > .list-group-item {
  background-color: rgb(23, 24, 28) !important;
  color: white !important;
}
.list-group > .list-group-item > button {
  background-color: white;
  color: black;
  font-weight: bold;
}
